/* Bandwidth monitor css file */

.page-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.page-heading {
	margin: 1em 0 0 0;
}

.update-counter {
	margin: 0 0 1em 0;
}

.table-padding {
}

.cell-padding {
	padding: 0 1em;
}

.cell-right {
	text-align: right;
}

.table-heading th {
	background-color: #E0E0E0;
}

.table-row-total td {
	background-color: #E5E5E5;
}

.table-row-total .total {
	font-weight: bold;
}

.active-traffic td {
	background-color: #FCF8C0;
}

.min-width {
	min-width: 6em;
}