/* Bandwidth monitor css file */

.page-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.page-heading {
	margin: 1em 0 0 0;
}

.bottom-controls {
	margin-top: 10px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.bottom-controls .update-counter {
	margin: 0 0 0 10px;
}

.bottom-controls .density {
	flex-grow: 1;
}

.bottom-controls .density .controls {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.bottom-controls .density .controls .text {
	padding-right: 12px;
}

.table-padding {
	margin-bottom: 0px;
}

.cell-padding {
	padding: 0 1em;
}

.cell-right {
	text-align: right;
}

.table-heading th {
	background-color: #E0E0E0;
}

.table-row-total td {
	background-color: #E5E5E5;
}

.table-row-total .total {
	font-weight: bold;
}

.active-traffic td {
	background-color: #FCF8C0;
}

.min-width {
	min-width: 7em;
}

.table-compact>thead>tr>th,
.table-compact>tbody>tr>th,
.table-compact>tfoot>tr>th,
.table-compact>thead>tr>td,
.table-compact>tbody>tr>td,
.table-compact>tfoot>tr>td {
	padding: 2px 2px;
}